---
layout: base
---
<header class="banner" role="banner">
	<a class="brand" href="/">
		{{ site.title }}
	</a>
	<p>{{ site.description }}</p>
	<button type="button" role="button" class="sidebar-toggle">
		<em class="sr-only">Toggle menu</em>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
</header>
<div class="sidebar">
	<div class="">
		<ul class="nav nav-tabs">
			<li class="active" style="height: 500px"><a href="#tab-posts" data-toggle="tab">Posts</a></li>
			<li><a href="#tab-tags" style="height: 500px" data-toggle="tab">Tags</a></li>
			<li><a href="#tab-search" style="height: 500px" data-toggle="tab">Search</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="tab-posts">

			</div>
			<div class="tab-pane" id="tab-tags">

			</div>
			<div class="tab-pane" id="tab-search">

			</div>
		</div>
	</div>
</div>
<div class="main" role="main">
	{% for post in paginator.posts %}
		{% assign article_title = post.title %}
		{% assign article_date = post.date %}
		{% assign article_content = post.content %}
		{% include article.html %}
	{% endfor %}
	{% include pagination.html %}
</div>
