/* =============================================================================
   Article
   ========================================================================== */

article {
    position: relative;
    background: @article-background-color;

    + article {
        margin-top: 2rem;
    }

    header {
        background: @article-meta-background-color;
        margin-bottom: 1rem;

        .entry-title {
            line-height: 1.2em;
            margin: 0;
            color: @font-color-base;

            a {
                color: @font-color-base;

                &:hover,
                &:focus {
                    color: @link-hover-color;
                }
            }

        }

        .entry-meta {
            .small;
            color: @font-color-gray;

            > * {
                display: inline-block;
                margin: 0;
                white-space: nowrap;
                padding: .2rem .75rem .2rem 0;

                &:last-child {
                    padding-right: 0;
                }

                a {
                    color: @font-color-gray;

                    &:hover {
                        color: darken(@font-color-gray, 10%);
                    }

                }
            }

            .author {
                position: absolute;
                bottom: .75rem;
                line-height: 1;
                padding: 0;
            }

            .edit {
                display: none;
            }

            .edit-mode & .edit {
                display: inline-block;
            }

            .fa {
                padding-right: .2em;
            }

        }

    }

    .entry-content {

        img {
            max-width: 100%;
            height: auto;
        }

        iframe, object {
            max-width: 100%;
        }

    }

    .screen-sm-max({

        header {

            .entry-title {
                padding: .8rem 1rem 0 1rem;
            }

            .entry-meta {
                padding: .4rem 1rem;

                .author {
                    right: 1rem;
                }

            }

        }

        .entry-content,
        aside {
            padding: 0 1rem 1rem 1rem;
        }

    });

    .screen-md-min({
        border-radius: @border-radius-medium;

        header {
            border-radius: @border-radius-medium @border-radius-medium 0 0;

            .entry-title {
                padding: .9rem 1.5rem 0 1.5rem;
            }

            .entry-meta {
                padding: .4rem 1.5rem;

                .author {
                    right: 1.5rem;
                }

            }

        }

        .entry-content,
        aside {
            padding: 0 1.5rem 1.5rem 1.5rem;
        }

    });

}
