/* =============================================================================
   Monospace font for all code related tags
   ========================================================================== */

code,
pre,
var,
samp {
    font-family: @font-family-monospace;
    hyphens: none;
    background: @box-background-color;
    border-radius: @border-radius-small;
    box-shadow: 0 0 .4em #ddd inset;
    font-weight: 400;
    font-size: .95rem;
}

/* =============================================================================
   Inline code
   ========================================================================== */

code,
var,
samp {
    padding: .2em .2em;
}

var,
samp {
    white-space: nowrap;
    font-style: normal;
}

code {
    word-break: break-all;
    word-wrap: break-word;
}

/* =============================================================================
   Codeblocks
   ========================================================================== */

pre {
    display: block;
    padding: .4rem .8rem;
    word-break: keep-all;
    word-wrap: normal;
    white-space: pre;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background: @box-background-color;
    color: #000;

    code {
        padding: 0;
        box-shadow: none;
        border-radius: none;
        background: transparent;
        font-size: inherit;
        color: inherit;
        word-break: inherit;
        word-wrap: inherit;
        white-space: inherit;
    }

}

/* =============================================================================
   Keyboard key style for KBD tags
   ========================================================================== */

kbd {
    display: inline-block;
    min-width: 1em;
    padding: .25em .25em;
    font-weight: 400;
    font-family: "Lucida Grande", Lucida, Arial, sans-serif;
    text-transform: uppercase;
    line-height: 1em;
    font-size: .85em;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: default;
    color: #fff;
    background: @font-color-base;
    border-radius: @border-radius-small;

    &[title] {
        cursor: help;
    }

}

/* =============================================================================
   Pygments highlighting
   ========================================================================== */

.highlight {
    @import 'vendor/pygments-css/github';
}
