/* =============================================================================
   Overall
   ========================================================================== */

* {

    &,
    &:before,
    &:after {
        box-sizing: border-box;
    }

}

/* =============================================================================
   Root elements
   ========================================================================== */

html,
body {
    min-height: 100%;
}

/* =============================================================================
   Links
   ========================================================================== */

a {
    color: @link-color;
    text-decoration: none;

    &:hover,
    &:focus {
        color: @link-hover-color;
    }

}

/* =============================================================================
   Remove outlines
   ========================================================================== */

a, button, input {

    &:focus {
        outline: none;
    }

}

/* =============================================================================
   Embedded content
   ========================================================================== */

iframe {
    border: none;
}

/* =============================================================================
   Selections
   ========================================================================== */

.selection({
    color: #fff;
    background: @hot-pink;
});
