/* =============================================================================
   Basic styles
   ========================================================================== */

* {
    &, &:before, &:after {
        box-sizing: border-box;
    }
}

html,
body {
    min-height: 100%;
}

html {
    .screen({
        font-size: @font-size-xs;
    },{
        font-size: @font-size-sm;
    },{
        font-size: @font-size-md;
    },{
        font-size: @font-size-lg;
    });
}

body {
    background: @main-background;
    font-family: @font-family-sans-serif;
    line-height: @line-height-base;
    font-size: 1em;
    color: @font-color-base;
}

a {
    color: @brand-primary;
    text-decoration: none;

    &:hover, &:focus {
        text-decoration: underline;
    }

}

a, button, input {

    &:focus {
        outline: none;
    }

}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
