/* =============================================================================
   Base
   ========================================================================== */

html {
    .screen({
        font-size: @font-size-xs;
    },{
        font-size: @font-size-sm;
    },{
        font-size: @font-size-md;
    },{
        font-size: @font-size-lg;
    });
}

body {
    font-size: 1em;
    font-family: @font-family-sans-serif;
    line-height: @line-height-base;
    color: @font-color-base;
    text-rendering: optimizeLegibility;
    hyphens: auto;
}

/* =============================================================================
   Spacing of block elements
   ========================================================================== */

h1, h2, h3, h4, h5, h6,
p, address,
ul, ol, dl,
pre,
table,
blockquote,
iframe, object {
    margin: 0 0 @spacing-vertical 0;
}

/* =============================================================================
   Headlines
   ========================================================================== */

h1 {
    font-weight: 900;
    font-size: 2.2rem;
}

h2, h3, h4, h5, h6 {
    font-weight: 700;
}

h2 {
    margin-top: (@spacing-vertical * 2);
    font-size: 1.8rem;
}

h3 {
    margin-top: (@spacing-vertical * 2);
    font-size: 1.4rem;
}

h4 {
    margin-top: (@spacing-vertical * 1.5);
    font-size: 1.2rem;
}

h5 {
    margin-top: (@spacing-vertical * 1.5);
    font-size: 1.1rem;
}

h6 {
    margin-top: (@spacing-vertical * 1.5);
    font-size: 1rem;
}

/* =============================================================================
   Inline elements
   ========================================================================== */

strong {
    font-weight: 900;
}

.small,
small {
    font-size: .7rem;
}

abbr[title] {
    cursor: help;
    border-bottom: 1px dotted @font-color-base;
}

del, strike {
    color: @font-color-gray;
    padding: .2em;
}

/* =============================================================================
   Within <main>
   ========================================================================== */

main {

    /* =============================================================================
       Quotes
       ========================================================================== */

    cite {
        font-style: italic;
    }

    blockquote {
        position: relative;
        padding: .4rem .6rem;
        color: @font-color-gray;
        font-style: italic;
        border-radius: @border-radius-small;
        border: 1px solid #ddd;

        &:before,
        &:after {
            position: absolute;
            top: -.25em;
            font-family: FontAwesome;
            font-size: 12px;
            line-height: 1em;
        }

        &:before {
            content: '\f10d';
            left: -.5em;
        }

        &:after {
            content: '\f10e';
            right: -.5em;
        }

        p:last-of-type {
            margin: 0;
        }

        code {
            font-style: normal;
        }

        cite {
            display: block;
            margin: (@spacing-vertical / 2) 0 0 0;
            font-style: normal;
            font-weight: 300;

            &:before {
                content: '\2014';
                padding: 0 .75em 0 .25em;
            }

            .small;

            &, a {
                color: @font-color-gray;
            }
        }

        p + p cite {
            margin-top: @spacing-vertical;
        }


    }

    /* =============================================================================
       Lists
       ========================================================================== */

    ul {
        list-style-type: none;
        padding-left: 1.5em;

        li {
            position: relative;

            &:before {
                content: '\f0da';
                position: absolute;
                top: 0;
                left: -.8em;
                font-family: FontAwesome;
                color: @font-color-gray;
            }

        }
    }

    ol {
        padding-left: 1.5em;
    }

/* =============================================================================
   End of within <main>
   ========================================================================== */

}
