/* =============================================================================
   Base
   ========================================================================== */

html {
	.screen({
		font-size: @font-size-xs;
	},{
		font-size: @font-size-sm;
	},{
		font-size: @font-size-md;
	},{
		font-size: @font-size-lg;
	});
}

body {
	font-family: @font-family-sans-serif;
	line-height: @line-height-base;
	color: @font-color-base;
	font-size: 1rem;
}

/* =============================================================================
   Spacing of block elements
   ========================================================================== */

h1, h2, h3, h4, h5, h6,
p, address,
ul, ol, dl,
pre,
table,
iframe, object {
	margin: 0 0 @spacing-vertical 0;
}

/* =============================================================================
   Headlines
   ========================================================================== */

h1 {
	font-weight: 900;
	font-size: 2.2rem;
}

h2, h3, h4, h5, h6 {
	font-weight: 700;
}

h2 {
	margin-top: (@spacing-vertical * 2);
	font-size: 1.8rem;
}

h3 {
	margin-top: (@spacing-vertical * 2);
	font-size: 1.4rem;
}

h4 {
	margin-top: (@spacing-vertical * 1.5);
	font-size: 1.2rem;
}

h5 {
	margin-top: (@spacing-vertical * 1.5);
	font-size: 1.1rem;
}

h6 {
	margin-top: (@spacing-vertical * 1.5);
	font-size: 1rem;
}

/* =============================================================================
   Inline elements
   ========================================================================== */

strong {
	font-weight: 700;
}

small {
	font-size: .85rem;
}

abbr[title] {
	cursor: help;
	border-bottom: 1px dotted @font-color-base;
}
