<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }} | {{ site.description }}{% endif %}</title>
    {% for style in site.assets.styles %}
        <link id="{{ style.id }}" href="{{ style.src }}" rel="stylesheet" type="text/css">
    {% endfor %}
    {% if page.layout == "index" %}
        {% if paginator.next_page %}
            <link rel="next" href="{{ paginator.next_page_path }}">
        {% endif %}
        {% if paginator.previous_page %}
            <link rel="prev" href="{{ paginator.previous_page_path }}">
        {% endif %}
    {% elsif page.layout == "post" %}
        {% if page.next %}
            <link rel="next" href="{{ page.next.url }}">
        {% endif %}
        {% if page.previous %}
            <link rel="prev" href="{{ page.previous.url }}">
        {% endif %}
        <link rel="index" href="/">
    {% else %}
        <link rel="index" href="/">
    {% endif %}
</head>
<body>
    <header class="banner">
        <div class="wrap">
            <h1 class="site-title"><a href="/">{{ site.title }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
        </div>
        <button type="button" class="sidebar-toggle">
            <em class="sr-only">Toggle menu</em>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </header>
    <main>