{% if page.layout == "index" %}
    {% assign article_title = post.title %}
    {% assign article_date = post.date %}
    {% assign article_content = post.content %}
    {% assign article_url = post.url %}
{% elsif page.layout == "post" or page.layout == "page" %}
    {% assign article_title = page.title %}
    {% assign article_date = page.date %}
    {% assign article_content = content %}
    {% assign article_url = page.url %}
{% endif %}
<article class="hentry">
    <header>
        <h1 class="entry-title">
            {% if page.layout == "post" or page.layout == "page" %}
                {{ article_title }}
            {% else %}
                <a href="{{ article_url }}" rel="bookmark">{{ article_title }}</a>
            {% endif %}
        </h1>
        <div class="entry-meta">
            {% if page.layout != "page" %}
                <time class="published" datetime="{{ article_date | date_to_xmlschema }}">
                    <span class="fa fa-calendar"></span>
                    {{ article_date | date: "%A, %d %B %Y" }}
                </time>
                <p class="byline author vcard">
                    <span class="fa fa-pencil"></span>
                    by <span class="fn">{{ site.author.name }}</span>
                </p>
                {% if page.layout != "page" %}
                    <p class="comments-link" data-url="{{ site.url }}{{ article_url }}">
                        <a href="{{ article_url }}#disqus_thread">Write a comment</a>
                    </p>
                {% endif %}
            {% endif %}
        </div>
    </header>
    <div class="entry-content">
        {{ article_content }}
    </div>
    {% if page.layout == "post" %}
        <aside>
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                var disqus_shortname = 'simboslog';
                var disqus_identifier = '{{ article_url }}';
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
        </aside>
    {% endif %}
</article>