{% if page.layout == "index" %}
    {% assign article_title = post.title %}
    {% assign article_date = post.date %}
    {% assign article_content = post.content %}
    {% assign article_url = post.url %}
{% elsif page.layout == "post" or page.layout == "page" %}
    {% assign article_title = page.title %}
    {% assign article_date = page.date %}
    {% assign article_content = content %}
    {% assign article_url = page.url %}
{% endif %}
<article class="hentry">
    <header>
        <h1 class="entry-title">
            {% if page.layout == "post" %}
                {{ article_title }}
            {% else %}
                <a href="{{ article_url }}" rel="bookmark">{{ article_title }}</a>
            {% endif %}
        </h1>
        <div class="entry-meta">
            <time class="published" datetime="{{ article_date | date_to_xmlschema }}">
                <span class="fa fa-calendar"></span>
                {{ article_date | date: "%A, %d %B %Y" }}
            </time>
            <p class="byline author vcard">
                <span class="fa fa-pencil"></span>
                by <span class="fn">{{ site.author.name }}</span>
            </p>
        </div>
    </header>
    <div class="entry-content">
        {{ article_content }}
    </div>
</article>