        <footer class="site-footer">
            {% if page.layout == "index" %}
                {% assign pagination_next = '<span class="fa fa-chevron-left"></span>Older Posts' %}
                {% assign pagination_prev = 'Newer Posts<span class="fa fa-chevron-right"></span>' %}
                <div class="pagination">
                    {% if paginator.previous_page %}
                        <a class="right" href="{{ paginator.previous_page_path }}">
                            <span class="label">{{ pagination_prev }}</span>
                        </a>
                    {% else %}
                        <span class="right disabled" title="There are no newer posts&hellip;">{{ pagination_prev }}</span>
                    {% endif %}
                    {% if paginator.next_page %}
                        <a class="left" href="{{ paginator.next_page_path }}">
                            <span class="label">{{ pagination_next }}</span>
                        </a>
                    {% else %}
                        <span class="left disabled" title="There are no older posts&hellip;">{{ pagination_next }}</span>
                    {% endif %}
                </div>
            {% elsif page.layout == "post" %}
                {% assign pagination_next = 'Next Post<span class="fa fa-chevron-right"></span>' %}
                {% assign pagination_prev = '<span class="fa fa-chevron-left"></span>Previous Post' %}
                <div class="pagination">
                    {% if page.next %}
                        <a class="right" href="{{ page.next.url }}">
                            <span class="label">{{ pagination_next }}</span>
                            <span class="entry-title">&ldquo;{{ page.next.title }}&rdquo;</span>
                        </a>
                    {% else %}
                        <span class="right disabled" title="There is no previous post&hellip;">{{ pagination_next }}</span>
                    {% endif %}
                    {% if page.previous %}
                        <a class="left" href="{{ page.previous.url }}">
                            <span class="label">{{ pagination_prev }}</span>
                            <span class="entry-title">&ldquo;{{ page.previous.title }}&rdquo;</span>
                        </a>
                    {% else %}
                        <span class="left disabled" title="There is no next post&hellip;">{{ pagination_prev }}</span>
                    {% endif %}
                </div>
            {% endif %}
        </footer>
    </main>
    <div class="sidebar" role="complementary">
        <div class="search-posts">
            <input type="text" placeholder="Search&hellip;">
        </div>
        <div class="search-results">
            <ul>
                {% for post in site.posts %}
                    <li>
                        <a href="{{ post.url }}">{{ post.title }}</a>
                        {{ post.excerpt | markdownify | strip_html }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% for script in site.assets.scripts %}
        <script id="{{ script.id }}" src="{{ script.src }}"></script>
        {% if script.id == 'jquery' %}<script>window.jQuery || document.write('<script src="{{ script.alt }}"><\/script>')</script>{% endif %}
    {% endfor %}
</body>
</html>