        <nav class="main-footer">
            {% if page.layout == "index" %}
                {% assign pagination_next = '<span class="fa fa-chevron-left"></span>Older Posts' %}
                {% assign pagination_prev = 'Newer Posts<span class="fa fa-chevron-right"></span>' %}
                <div class="pagination">
                    {% if paginator.previous_page %}
                        <a class="right" href="{{ paginator.previous_page_path }}">
                            <span class="label">{{ pagination_prev }}</span>
                        </a>
                    {% else %}
                        <span class="right disabled">
                            <span class="label">{{ pagination_prev }}</span>
                            <span class="description">There are no newer posts&hellip;</span>
                        </span>
                    {% endif %}
                    {% if paginator.next_page %}
                        <a class="left" href="{{ paginator.next_page_path }}">
                            <span class="label">{{ pagination_next }}</span>
                        </a>
                    {% else %}
                        <span class="left disabled">
                            <span class="label">{{ pagination_next }}</span>
                            <span class="description">There are no older posts&hellip;</span>
                        </span>
                    {% endif %}
                </div>
            {% elsif page.layout == "post" %}
                {% assign pagination_next = 'Next Post<span class="fa fa-chevron-right"></span>' %}
                {% assign pagination_prev = '<span class="fa fa-chevron-left"></span>Previous Post' %}
                <div class="pagination">
                    {% if page.next %}
                        <a class="right" href="{{ page.next.url }}">
                            <span class="label">{{ pagination_next }}</span>
                            <span class="description">&ldquo;{{ page.next.title }}&rdquo;</span>
                        </a>
                    {% else %}
                        <span class="right disabled">
                            <span class="label">{{ pagination_next }}</span>
                            <span class="description">There is no previous post&hellip;</span>
                        </span>
                    {% endif %}
                    {% if page.previous %}
                        <a class="left" href="{{ page.previous.url }}">
                            <span class="label">{{ pagination_prev }}</span>
                            <span class="description">&ldquo;{{ page.previous.title }}&rdquo;</span>
                        </a>
                    {% else %}
                        <span class="left disabled">
                            <span class="label">{{ pagination_prev }}</span>
                            <span class="description">There is no next post&hellip;</span>
                        </span>
                    {% endif %}
                </div>
            {% endif %}
        </nav>
    </main>
    <section class="sidebar site-search" role="search">
        <form>
            <fieldset>
                <div class="input-group">
                    <input type="text" placeholder="Search&hellip;" tabindex="1">
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="fa fa-search"></span>
                        </button>
                    </span>
                </div>
            </fieldset>
        </form>
    </section>
    <section class="sidebar site-search-results" role="search">
        <ul>
            {% for post in site.posts limit:10 %}
                <li>
                    <a href="{{ post.url }}" tabindex="2">
                        <span class="date">{{ article_date | date: "%Y-%m-%d" }}</span>
                        <span class="title">{{ post.title }}</span>
                        <span class="excerpt">{{ post.excerpt | markdownify | newline_to_br | replace:'<br />',' ' | strip_html | truncatewords: 20 }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>
    <footer class="sidebar site-footer">
        <ul>
            <li><a href="/shortcuts.html" title="Keyboard shortcuts for navigation"><span class="fa fa-keyboard-o"></span></a></li>
            <li><a href="https://github.com/simbo/simbo.github.io" title="This site on GitHub"><span class="fa fa-github-alt"></span></a></li>
            <li><a href="/about.html" title="About this site"><span class="fa fa-info"></span></a></li>
        </ul>
    </footer>
    {% for script in site.assets.scripts %}
        <script id="{{ script.id }}" src="{{ script.src }}{% if script.append_version %}?v={{ site.time | date:"%y%m%d%H%M%S" }}{% endif %}"></script>
        {% if script.id == 'jquery' %}<script>window.jQuery || document.write('<script src="{{ script.alt }}"><\/script>')</script>{% endif %}
    {% endfor %}
</body>
</html>