{% assign pagination_next_icon = '<span class="fa fa-chevron-left"></span>' %}
{% assign pagination_prev_icon = '<span class="fa fa-chevron-right"></span>' %}
{% if page.layout == "index" %}
    {% assign pagination_next_text = 'Older Posts' %}
    {% assign pagination_prev_text = 'Newer Posts' %}
    {% capture pagination_next %}{{ pagination_next_icon }}{{ pagination_next_text }}{% endcapture %}
    {% capture pagination_prev %}{{ pagination_prev_text }}{{ pagination_prev_icon }}{% endcapture %}
    <div class="pagination">
        {% if paginator.next_page %}
            <a class="next" href="{{ paginator.next_page_path }}">{{ pagination_next }}</a>
        {% else %}
            <span class="next disabled">{{ pagination_next }}</span>
        {% endif %}
        {% if paginator.previous_page %}
            <a class="prev" href="{{ paginator.previous_page_path }}">{{ pagination_prev }}</a>
        {% else %}
            <span class="prev disabled">{{ pagination_prev }}</span>
        {% endif %}
    </div>
{% else %}
    {% assign pagination_next_text = 'Previous Post' %}
    {% assign pagination_prev_text = 'Next Post' %}
    {% capture pagination_next %}{{ pagination_next_icon }}{{ pagination_next_text }}{% endcapture %}
    {% capture pagination_prev %}{{ pagination_prev_text }}{{ pagination_prev_icon }}{% endcapture %}
    <div class="pagination">
        {% if page.next %}
            <a class="next" href="{{ page.next.url }}">
                <span class="label">{{ pagination_next }}</span>
                <span class="entry-title">&bdquo;{{ page.next.title }}&ldquo;</span>
            </a>
        {% else %}
            <span class="next disabled">{{ pagination_next }}</span>
        {% endif %}
        {% if page.previous %}
            <a class="prev" href="{{ page.previous.url }}">
                <span class="label">{{ pagination_prev }}</span>
                <span class="entry-title">&bdquo;{{ page.previous.title }}&ldquo;</span>
            </a>
        {% else %}
            <span class="prev disabled">{{ pagination_prev }}</span>
        {% endif %}
    </div>
{% endif %}
